/* import styled from '@emotion/styled'; */




/*! Юля (вопрос 3)  */
.socialText {
    font-size: 20px;
    font-weight: 700;
    color: rgb(153, 0, 255);
}

/* ?------------------ Юля (вопрос 3) ---------------- */
/*! --- ВСЕ потомки <a> внутри класса .mainLinks --- */
.mainLinks a {
    color: red;
}

/*! --- ВСЕ дети <a> внутри класса .socialLinks --- */
.socialLinks > a {
    color: green;
}
/* ?------------------------------------------------- */


/* .socialLinks a {
    color: green;
} */

/*! --- ПЕРВЫЙ сосед после <p> --- */
/* p + a {
    color: rgb(0, 204, 255);
} */

/*! --- ВСЕ соседи после <p> --- */
/* .socialText ~ a {
    color: rgb(0, 204, 255);;
} */
/* ?------------------------------------------------- */











/* .socialText + a {
    color: rgb(0, 204, 255);
} */