/* import styled from '@emotion/styled'; */
/* import whel from 'images/roulette-wheel.png'; */


:root {
    --section-title-color: #3f51b5;
}


/* .p {
    font-size: 50px;
} */

.spanBlock {
    display: flex;
    width: 450px;
    height: 80px;
    justify-content: center;
    align-items: center;

    /* padding: 10px; */
    margin-bottom: 10px; 

    outline: 2px solid #ff0095;
    border: 5px solid #100452;

    font-size: 24px;
}

.section {
    border: 2px solid #b63f3f;
    padding: 20px;
    font-size: 24px;
}



.sectionTitle {
    /* color: #3f51b5; */
    color: var(--section-title-color);
}

.fontSizeColorTitle {
    font-size: 90px;
    color: #31741d;
}

.sectionTitle::before {
    background-color: #6ab53f;
}

/* ----------------------------- */


/* Общие стили для всех типов оповещений */

.buttonAlert {
    display: flex;
    border: none;
    /* font: inherit; */
    cursor: pointer;
    /* cursor: cell; */
    outline: none;
    align-items: center;
    /* margin-left: auto; */
    border-radius: 4px;
    padding: 8px 12px;
    /* background-color: #3b3b3b; */
    /* color: #ffffff; */
    /* font-weight: 500; */

    box-shadow: 0px 4px 4px #00000026;
}
/* .buttonAlert:visited, */
/* .buttonAlert:focus, */
/* .buttonAlert:active, */
.buttonAlert:hover {
    background-color: #cfcfcf;
}

/* .buttonAlert::before, */
.buttonAlert::after {
    display: none;
    content: '';
    width: 20px;
    height: 20px;
    /* margin: 0 auto; */
    margin-left: 16px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/599/599516.png");
    background-size: contain;
}
.buttonAlert::before {
    display: none;
    content: '';
    width: 20px;
    height: 20px;
    /* margin: 0 auto; */
    margin-right: 16px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/300/300516.png");
    background-size: contain;
}
.buttonAlert:hover::after {
    display: block;
}
.buttonAlertBefore::before {
    display: block;
}


.alert {
    font-size: 12px;
    font-weight: 500;
}


/* Специфические стили для каждого типа */
.success {
    color: green;
    /* background-color:#b7ecb7 ; */
}


.warning {
    padding: 10px;
    color: orange;
}


.error {
    color: red;
    /* background-color: #eccab7; */
}


.successBackgroundColor {
    background-color: #b7ecb7;
}


.errorBackgroundColor {
    background-color: #eccab7;
}


/* ! Базовый стиль и стиль при наведении*/
.alert.warning:hover {
    cursor: cell;
    color: tomato;
    font-weight: 700;
    background-color: rgb(255, 251, 189);
}


/* ! Селектор идентификатора */
#textId {
    padding: 10px;
    color: tomato;
    font-weight: 700;
    background-color: rgb(255, 251, 189);
}


/* ----------------------------- */
