/* import styled from '@emotion/styled'; */


.matrixContainer {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    /* font-size: 40px; */
    /* color: #010101; */

    padding-bottom: 40px;
    /* margin-bottom: 20px; */

    /* border: 2px solid #ffad7a; */
    /* border-radius: 20px; */

    /* background-color: #faebe2; */
}

.titleTextBase {
    padding-bottom: 20px;
    text-decoration: overline;
    line-height: 1.5;

    color: #b80808;
    text-shadow: 4px 4px 8px #555555;

    font-size: 36px;
    font-weight: 700;
    font-family: Tahoma;
    text-align: center;
}

.globalForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 400px; */
    width: 300px;
    /* height: 120px; */
    height: 150px;
    justify-content: center;
    align-items: flex-end;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* outline: 2px solid tomato; */
    border: 2px solid rgb(119, 71, 0);
    border-radius: 10px;
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
    
    background-color: #e7c780;
}

.globalForm:focus-within {
    border-color: rgb(255, 232, 129);
    border-radius: 10px;
}

.labelForm {
    margin-right: 10px;
    font-weight: 700;
    color: rgb(114, 65, 0);
}

.inputForm {
    width: 200px;
    margin-left: 10px;
    font-weight: 700;
    color: rgb(146, 95, 0);
    /* opacity: 0.5; */
    /* background-color: inherit; */
    background-image: url(../../images/BackGround2.jpg);
}

/* .inputForm:required {
    border-color: #ffee00;
} */

.inputForm:placeholder-shown {
    border-color: rgb(119, 71, 0);
    /* color: #ff0318; */
}

.inputForm::placeholder {
    /* border: 2px solid; */
    /* border-color: green; */
    color: #bd6500;
}

.inputForm:in-range {
    border-color: #e0834d;
}

.inputForm:out-of-range {
    border-color: #ff0000;
}

.buttonSubmit {
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    /* outline: none; */
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
}

.buttonSubmit:enabled {
    background-color: rgb(0, 104, 5);
    color: #ccffcb;
}

.buttonSubmit:disabled {
    background-color: rgb(114, 0, 0);
    color: #ffc5c5;
}

.sectionTitle {
    margin-top: 60px;
    margin-bottom: 20px;

}

.divLine {
    display: flex;
    margin-bottom: -2px;
    border: 1px solid rgb(119, 71, 0);
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
}

.emptyContainer {
    height: 1090px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* gap: 20px; */
    /* font-size: 40px; */
    /* color: #010101; */

    padding-bottom: 40px;
}

.divCell {
    position: relative;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* align-items: flex-end; */
    /* outline: 2px solid tomato; */
    border: 1px solid rgb(119, 71, 0);
    /* border-radius: 10px; */
    font-size: 2rem;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
.divCellYellow {
    opacity: 0.5;
    color: #b80808;
    background-color: #ffffcb;

}
.divCellGray {
    opacity: 0.5;
    background-color: #dadada;
}
.divCellSize {
    width: 170px;
    font-size: 1.2rem;
}
.divCellWeight {
    font-weight: 700;
}
.divCellWeightSize {
    font-size: 1.4rem;
    font-weight: 700;
}
.divCellNull {
    opacity: 0.5;
    background-color: #ffcdcd;
}
.divCellNumber {
    font-size: 1.1rem;
    color: #777777;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.divColumn {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* width: 400px; */
    /* width: 300px; */
    /* height: 120px; */
    /* height: 150px; */
    justify-content: center;
    /* align-items: flex-end; */
    /* outline: 2px solid tomato; */
    /* border: 2px solid blue; */
    /* border-radius: 10px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ! Матрица Судьбы */
.divMainFate {
    position: relative;
    margin-top: 150px;
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
}

.divCubeFate {
    width: 500px;
        height: 500px;
    display: flex;
        flex-wrap: wrap;
    align-items: center;
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
    
    /* border: 2px solid tomato; */
    outline: 2px solid tomato;
}
.divCubeFateDiagonal1 {
    width: 707px;
    height: 0px;
    position: absolute;
        top: 250px;
        right: -104px;
    transform: rotate(-45deg);
    outline: 1px solid tomato;
}
.divCubeFateDiagonal2 {
    width: 707px;
        height: 0px;
    position: absolute;
        top: 250px;
        right: -104px;
    transform: rotate(45deg);
    outline: 1px solid tomato;
}

.divCellCube {
    width: 250px;
        height: 250px;
    display: flex;
        justify-content: center;
        align-items: center;
    /* border: 1px solid tomato; */
    outline: 1px solid tomato;
}

.divRhombusFate {
    position: absolute;
        top: 0;
        right: 0;
    width: 500px;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
    /* border: 1px solid green; */
    outline: 2px solid green;
}
.rotated45 {
    transform: rotate(-45deg);
}
.divRhombusFateDiagonal1 {
    width: 707px;
    height: 0px;
    position: absolute;
    top: 250px;
    right: -104px;
    /* transform: rotate(-45deg); */
    outline: 1px solid green;
}

.divRhombusFateDiagonal2 {
    width: 707px;
    height: 0px;
    position: absolute;
    top: 250px;
    right: -104px;
    transform: rotate(90deg);
    outline: 1px solid green;
}
.divCellRhombus {
    position: relative;
    width: 250px;
        height: 250px;
    display: flex;
        justify-content: center;
        align-items: center;
    /* border: 1px solid green; */
    /* outline: 1px solid green; */
}

/* ! ОСНОВНЫЕ цифры Матрицы Судьбы (ЛИЧНАЯ Карма - Personal Karma) */
.divCellRhombusNumber1 {
    width: 50px;
        height: 50px;
    position: absolute;
        top: -45px;
        left: -45px;
    display: flex;
        align-items: center;
        justify-content: center;
    transform: rotate(45deg);
    font-size: 2rem;
        font-weight: 700;
    color: green;
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
    outline: 1px solid green;
}

.divCellRhombusNumber2 {
    width: 50px;
        height: 50px;
    position: absolute;
        top: -45px;
        right: -45px;
    display: flex;
        align-items: center;
        justify-content: center;
    transform: rotate(45deg);
    font-size: 2rem;
        font-weight: 700;
    color: green;
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
    outline: 1px solid green;
}
.divCellRhombusNumber3 {
    width: 50px;
        height: 50px;
    position: absolute;
        bottom: -45px;
        right: -45px;
    display: flex;
        align-items: center;
        justify-content: center;
    transform: rotate(45deg);
    font-size: 2rem;
        font-weight: 700;
    color: green;
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
    outline: 1px solid green;
}
.divCellRhombusNumber4 {
    width: 50px;
        height: 50px;
    position: absolute;
        bottom: -45px;
        left: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    font-size: 2rem;
        font-weight: 700;
    color: green;
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
    outline: 1px solid green;
}

/* ! ДОПОЛНИТЕЛЬНЫЕ цифры Матрицы Судьбы (РОДОВАЯ Карма - Ancestral Karma)*/
.divCellCubeNumber1 {
    width: 50px;
        height: 50px;
    position: absolute;
        top: -52px;
        left: -52px;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 2rem;
        font-weight: 700;
    color: tomato;
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
    /* border-radius: 50%; */
    outline: 1px solid tomato;
}

.divCellCubeNumber2 {
    width: 50px;
        height: 50px;
    position: absolute;
        top: -52px;;
        right: -52px;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 2rem;
        font-weight: 700;
    color: tomato;
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
    /* border-radius: 50%; */
    outline: 1px solid tomato;
}

.divCellCubeNumber3 {
    width: 50px;
        height: 50px;
    position: absolute;
        bottom: -52px;
        right: -52px;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 2rem;
        font-weight: 700;
    color: tomato;
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
    /* border-radius: 50%; */
    outline: 1px solid tomato;
}

.divCellCubeNumber4 {
    width: 50px;
        height: 50px;
    position: absolute;
        bottom: -52px;
        left: -52px;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 2rem;
        font-weight: 700;
    color: tomato;
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
    /* border-radius: 50%; */
    outline: 1px solid tomato;
}

/* ! ЦЕНТРАЛЬНЫЕ цифры Матрицы Судьбы */
.divCellRhombusCenter {
    width: 50px;
        height: 50px;
    position: absolute;
        bottom: 225px;
        left: 170px;
        z-index: 1;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 2rem;
        font-weight: 700;
    color: green;
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
    /* background-color: white; */
    background-image: url(../../images/BackGround2.jpg);
    background-repeat: no-repeat;

    outline: 1px solid green;
}

.divCellCubeCenter {
    width: 50px;
        height: 50px;
    position: absolute;
        bottom: 225px;
        left: 280px;
        z-index: 1;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 2rem;
        font-weight: 700;
    color: tomato;
    box-shadow: 12px 12px 18px rgba(99, 65, 3, 0.466);
    /* background-color: white; */
    background-image: url(../../images/BackGround2.jpg);
    outline: 1px solid tomato;
}