/* import styled from '@emotion/styled'; */


.logoHomeContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    padding: 20px;
    margin-top: 20px;
    margin-top: 140px;
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 600;

    border: 2px solid #01b80a;
    border-radius: 20px;
    
    background-color: #e3fae2;
    box-shadow: 12px 12px 18px rgba(59, 43, 14, 0.23);
}

.logoHomeShadowContainer {
    border-radius: 50%;
    box-shadow: 15px 15px 15px rgba(44, 35, 18, 0.23);
    outline: 1px solid orange;
}


.logoHomeImage {
    /* margin-bottom: 15px; */
    border-radius: 50%;
    /* box-shadow: 9px 9px 12px rgba(44, 35, 18, 0.23); */

    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-direction: reverse; */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.titleText {
    /* padding-bottom: 20px; */
    /* text-decoration: overline; */
    /* text-transform: capitalize; */
    /* text-align: justify; */
    /* text-align: left; */
    /* text-indent: 100px; */
    /* line-height: 1.5; */
    /* letter-spacing: inherit; */
    /* letter-spacing: 4px; */
    /* word-spacing: 8px; */
    /* white-space: pre-wrap; */
    
    margin-top: 16px;

    color: #c01d1d;
    text-shadow: 4px 4px 8px #555555;
    /* text-shadow: 12px 12px 12px #9e4949,
        5px 5px 5px #696969; */

    font-size: 24px;
    font-weight: 700;
    /* font-style: oblique; */
    /* font-style: italic; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-family: 'Tangerine', cursive; */
}